body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 1000px;
}

.header {
  width: 100%;
  background-color: darkred;
  height: 50px;
}

.menu-title {
    width: 100%;
    height: 50px;
    background-color: chartreuse;
}  

.menu-list {
    display: flex;
    list-style: none;
    width: 100%;
}

.operation {
    padding-left: 40px;
}



.menu-form {
    display: block;
}

.hidden {
    display: none;
}

.field {
    padding-top: 45px;
    display: flex;
    justify-content: space-evenly;
}

.inputs {

}

.btn-sum {
    padding-top: 100px;
    display: flex;
    
} 

.sum {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.decision {

}

.right {
    display: flex;
    justify-content: center;
    margin: auto 0;
}